.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  margin-bottom: 80px;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

.carre-contenu + div {
  text-align: center;
}

.a-propos-main {
  width: 80%;
  margin: auto;
}


table {
  border-collapse: collapse;
  color: white;
  width: 100%;
  table-layout: fixed;
}

table th, table td {
  border: 1px solid #8e86b5;
}

td {
  padding: 30px;
  text-align: center;
}
